<!DOCTYPE html>
<html class="center">
  <head>
    <title>Challenge | Sudoku Champs</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/flipclock.css" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/scripts/flipclock.js"></script>
    <script src="/scripts/script.js"></script>
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/play">PLAY</a></li>
            <li><a href="/rules">RULES</a></li>
            <li><a href="/leader">LEADERBOARD</a></li>
        </ul>
    </nav>
    <h1>What's life without a little challenge ?</h1>
    <div class="clock" id="clock"></div>
    <a id="start" onclick="tick()">Start</a>
    <a id="hide" onclick="hide()">Hide</a>
  </body>
<footer>
    <nav>
        <ul>
            <li><a href="/logout">I wish to leave</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/developers">Developers</a></li>
        </ul>
    </nav>
</footer>
</html>
