<!DOCTYPE html>
<html class="center">
  <head>
    <title>Developers | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css"/>
  </head>
  <body>
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/login">LOGIN</a>
            </li>
            <li>
                <a href="/play">PLAY</a>
            </li>
            <li>
                <a href="/register">REGISTER</a>
            </li>
            <li>
                <a href="/rules">RULES</a>
            </li>
            <li>
                <a href="/leader">LEADERBOARD</a>
            </li>
        </ul>
    </nav>
    <h1>The people who made it all possible.</h1><br/><br/>
    <p class="left">
        Frontend <br /><br />
        <a href="https://www.github.com/karanbabariya"><img src="/images/developers/Karan.jpg" height="350" width="265"/></a><br/><br/>
        Karan Babariya
    </p>
    <p class="right">
        Backend <br /><br />
        <a href="https://www.github.com/kunagpal"><img src="/images/developers/Kunal.jpg" class="flip"/></a><br/><br/>
        Kunal Nagpal
    </p>
    <h2 id="drop">Well, sort of</h2>
  </body>
<footer>
    <nav>
        <ul>
            <li>
                <a href="/logout">I wish to leave</a>
            </li>
            <li>
                <a href="/privacy">Privacy</a>
            </li>
            <li>
                <a href="/contact">Get in touch</a>
            </li>
            <li>
                <a id="inv">Developers</a>
            </li>
        </ul>
    </nav></footer>
</html>
