<!DOCTYPE html>
<html>
  <head>
    <title>Developers | Sudoku Champs</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/rules">Rules</a></li>
        </ul>
    </nav>
    <p>
        Frontend <br />
        <img src="/images/developers/Karan.jpg" /> <br />
        <a href="https://www.github.com/karanbabariya">Karan Babariya</a>
    </p>
    <p>
        Backend <br />
        <img src="/images/developers/Kunal.jpg" /> <br />
        <a href="https://www.github.com/kunagpal">Kunal Nagpal</a>
    </p>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
