<!DOCTYPE html>
<html class="center">
  <head>
    <title>Developers | Sudoku Champs</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/play">PLAY</a></li>
            <li><a href="/rules">RULES</a></li>
            <li><a href="/leader">LEADERBOARD</a></li>
        </ul>
    </nav>
    <h1>The people who made it all possible.<br />Well, sort of.</h1><br/>
    <p class="left">
        Frontend <br /><br />
        <a href="https://www.github.com/karanbabariya"><img src="/images/dev/Karan.jpg" /></a><br/><br/>
        Karan Babariya
    </p>
    <p class="right">
        Backend <br /><br />
        <a href="https://www.github.com/kunagpal"><img src="/images/dev/Kunal.jpg" /></a><br/><br/>
        Kunal Nagpal
    </p>
    <h2 id="drop">
        Have a question? Just want to say hi?<br />Feel free to send us an <a href="mailto:sudokuchampster@gmail.com" class="link">email</a>, we don't bite.
    </h2>
  </body>
<footer>
    <nav>
        <ul>
            <li><a href="/logout">I wish to leave</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a id="inv">Developers</a></li>
        </ul>
    </nav>
</footer>
</html>