<!DOCTYPE html>
<html>
  <head>
    <title>Developers | Sudoku Champs</title>
    <link rel='stylesheet' href='../public/styles/style.css' />
  </head>
  <body>
    <p>Front end | Karan Babariya</p>
    <p>Backend | Kunal Nagpal</p>
  </body>
</html>
