<!DOCTYPE html>
<html class="center">
  <head>
    <title>Developers | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css"/>
  </head>
  <body>
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/login">LOGIN</a>
            </li>
            <li>
                <a href="/play">PLAY</a>
            </li>
            <li>
                <a href="/register">REGISTER</a>
            </li>
            <li>
                <a href="/rules">RULES</a>
            </li>
            <li>
                <a href="/leader">LEADERBOARD</a>
            </li>
        </ul>
    </nav>
    <h1>The people who made it all possible.<br />Well, sort of.</h1>
    <p class="left">
        Frontend <br /><br />
        <img src="/images/developers/Karan.jpg" height="350" width="265"/> <br />
        <a href="https://www.github.com/karanbabariya">Karan Babariya</a>
    </p>
    <p class="right">
        Backend <br /><br />
        <img src="/images/developers/Kunal.jpg" /> <br />
        <a href="https://www.github.com/kunagpal">Kunal Nagpal</a>
    </p>
  </body>
<footer>
    <a href="/logout" id="logout">I wish to leave</a>
</footer>
</html>
