<!--
*  Sudoku Champs <sudokuchampster@gmail.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="center">
  <head>
    <title>Developers | Sudoku Champs</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <link rel="icon" type="image/png" href="/images/main.jpg">
  </head>
  <body>
    {{{head}}}
    <h1>The people who made it all possible.<br />Well, sort of.</h1><br/>
    <p class="left">
        Frontend <br><br>
        <a href="https://www.github.com/karanbabariya"><img src="/images/dev/Karan.jpg" /></a><br><br>
        Karan Babariya
    </p>
    <p class="right">
        Backend <br><br>
        <a href="https://www.github.com/kunagpal"><img src="/images/dev/Kunal.jpg" /></a><br><br>
        Kunal Nagpal
    </p>
    <h2 id="drop">
        Have a question? Just want to say hi?<br />Feel free to send us an <a href="mailto:sudokuchampster@gmail.com" class="link">email</a>, we don't bite.
    </h2>
  </body>
  {{{foot}}}
</html>