<!DOCTYPE html>
<!--
*  Sudoku Champs <sudokuchampster@gmail.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="center">
    <head>
        <title>Error | Sudoku Champs</title>
        <link rel="icon" type="image/png" href="/images/main.jpg">
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    </head>
    <body>
    {{{head}}}
     <h1>That was odd, even for us.</h1>
        <p>
           It would appear that we have had a little bit of a technical issue, so let's double check. <br>
           Yep, it's definitely a technical issue. <br><br>
           Rest assured, as our dedicated team of professional superheroes is toiling
           night and day to get this back on track. <br><br>
           Or, perhaps you decided you were a whiz and tried out a route that doesn't exist. Well guess what ? You ended up
           here :( <br> In the meantime, why don't you go to a <a href="/" class="link">page</a> that works ?
        </p>
    </body>
    {{{foot}}}
</html>