<!DOCTYPE html>
<html class="center">
<head>
    <title>Error | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/play">PLAY</a></li>
            <li><a href="/register">REGISTER</a></li>
            <li><a href="/rules">RULES</a></li>
            <li><a href="/leader">LEADERBOARD</a></li>
        </ul>
    </nav>
    <h1>That was odd, even for us.</h1>
    <p>
       It would appear that we have had a little bit of a technical issue, so let's double check. <br />
       Yep, it's definitely a technical issue. <br /><br />
       Rest assured, as our dedicated team of professional superheroes is toiling
       night and day to get this back on track. <br /><br />
       Or, perhaps you decided you were a whiz and tried out a route that doesn't exist. Well guess what ? You ended up
       here :( <br /> In the meantime, why don't you go to a <a href="/" class="link">page</a> that works ?
    </p>
</body>
<footer>
    <nav>
        <ul>
            <li><a href="/logout">I wish to leave</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/contact">Get in touch</a></li>
            <li><a href="/developers">Developers</a></li>
        </ul>
    </nav>
</footer>
</html>