<!--
*  Sudoku Champs <sudokuchampster@gmail.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="center">
    <head>
        <meta charset="utf-8"/>
        <title>Forgot | Sudoku Champs</title>
        <link rel="icon" type="image/png" href="http://res.cloudinary.com/kunagpal/main.jpg">
        <link href="https://cdn.jsdelivr.net/picnicss/4.1.3/picnic.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.min.css" type="text/css" />
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-60481560-1', 'auto');ga('send', 'pageview');
        </script>
    </head>
    <body>
        {{{head}}}
        <br> <br>
        <h3 id="reg">{{msg}}</h3>
        <h1>Forgot Password ?</h1>
        <h2>Never worry, you can still be a sudoku champ.</h2>
        <p>
            Please supply the username and email address associated with your Sudoku Champs account in the field provided below, and a
            password reset email will be sent to your email address. <br> Follow the instructions therein to reset your
            password.
        </p>
        <form method="POST" action="/forgot">
            <input type="hidden" name="_csrf" value="{{token}}">
            <input type="text" name="name" placeholder="Username" autofocus autocomplete="on" required /> <br> <br>
            <input type="email" name="email" placeholder="Email Address" autocomplete="on" required/> <br> <br>
            <input type="submit" value="Submit" id="begin"/>
        </form>
    </body>
    {{{foot}}}
</html>
