<!DOCTYPE html>
<html class="center">
  <head>
    <title>Forgot | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
             <li><a href="/register">Register</a></li>
             <li><a href="/rules">Rules</a></li>
          </ul>
      </nav>
      <h1>Forgot Password ?</h1>
      <p>
          Please supply the email address associated with your Sudoku Champs account in the field provided below, and a
          password reset email will be sent to your email address. <br /> Follow the instructions therein to reset your
          password.
      </p>
      <form method="POST" action="/forgot">
            Email Address<input type="email" id="email" /> <br />
                         <input type="submit" value="Submit"/>
      </form>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
