<!DOCTYPE html>
<html class="center">
  <head>
    <title>Forum | Sudoku Champs</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css"/>
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/play">PLAY</a></li>
            <li><a href="/rules">RULES</a></li>
            <li><a href="/leader">LEADERBOARD</a></li>
        </ul>
    </nav>
    <h1>Discuss, discuss again. And then finally, discuss some more.</h1>

  </body>
<footer>
    <nav>
        <ul>
            <li><a href="/logout">I wish to leave</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a id="inv">Forum</a></li>
            <li><a href="/developers">Developers</a></li>
        </ul>
    </nav>
</footer>
</html>
