<!DOCTYPE html>
<html class="center">
  <head>
    <title>Play | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
      <nav>
          <ul>
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                  <a href="/login">Login</a>
              </li>
              <li>
                  <a href="/play">Play</a>
              </li>
              <li>
                  <a href="/register">Register</a>
              </li>
              <li>
                  <a href="/rules">Rules</a>
              </li>
              <li>
                  <a href="/leader">Leaderboard</a>
              </li>
          </ul>
      </nav>
      <h1>Let the games begin !</h1>
      <h2>May the numbers be with you, in more ways than one.</h2>
      <table>
      </table>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
