<!DOCTYPE html>
<html class="center">
    <head>
        <meta charset="utf-8">
        <title>Stats | Sudoku Champs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="http://res.cloudinary.com/kunagpal/main.jpg">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/picnicss/5.1.0/plugins.min.css">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create','UA-60481560-1','auto');ga('send','pageview');
        </script>
        <style>
            body{display:flex;flex-direction:column;align-items:center;justify-content:center;}#a{background:#E67E22;}
            #b{background:#C0392B;}#c{background:#27AE60;}#d{background:#2C3E50;}div.row{text-align:center;}
            div>a{width:85%!important;}a.demo{background:black;position:fixed;top:0;right:1px;}
        </style>
    </head>
    <body>
        <a class="demo button" href="/logout">Logout</a>
        <h1>Number crunching</h1>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td rowspan="5">
                    PLAYED
                    <p></p>
                </td>
                <td rowspan="4">
                    BEST
                    <p></p>
                </td>
                    <td rowspan="4" colspan="2">
                    AVERAGE
                    <p></p>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td rowspan="4" colspan="2">
                    FAVOURITE GAME MODE
                    <p></p>
                </td>
                <td rowspan="4">
                    WORST
                    <p></p>
                </td>
            </tr>
            <tr>
                <td rowspan="5">
                    WINS
                    <p></p>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td rowspan="7" colspan="3">
                    AWESOME GRAPH!
                    <p></p>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td rowspan="5">
                    LOSSES
                    <p></p>
                </td>
            </tr>
        </table>
        <h2>Hover over a section for details</h2>
        <h1>Let the games begin !</h1>
        <h2>May the numbers be with you, in more ways than one. <br /> But first, select a game mode...</h2>
        <div class="row">
            <div>
                <a data-tooltip="Practice makes perfect" id="a" class="button" href="/practice">PRACTICE</a>
            </div>
            <div>
                <a data-tooltip="What's Sudoku without a challenge?" id="b" class="button" href="/challenge">CHALLENGE</a>
            </div>
            <div>
                <a data-tooltip="Just like Han Solo" id="c" class="button" href="/solo">SOLO</a>
            </div>
            <div>
                <a data-tooltip="Lock horns with your best friend. Or your best enemy. Or both" id="d" class="button" href="/h2h">HEAD TO HEAD</a>
            </div>
        </div>
        <h1>Settings</h1>
        <div>

        </div>
    </body>
    <script>
        var req = new XMLHttpRequest();
        var dash = document.getElementsByTagName('table')[0];
        req.open('get', '/stats', true);
        req.addEventListener('load', function(){
            console.log(req.response);
        }, false);
        req.send();
    </script>
</html>
