<!DOCTYPE html>
<html>
  <head>
    <title>Home | Sudoku Champs</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/rules">Rules</a></li>
      </ul>
    </nav>
    <h1>Sudoku Champs</h1> <br />
    <img src="/images/main.jpg" align="center"/>
    <h3>Because you just have to solve them all.</h3>
    <button autofocus="true" onclick=""></button>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
