<!--
*  Sudoku Champs <sudokuchampster@gmail.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="center">
    <head>
        <meta charset="utf-8"/>
        <title>Home | Sudoku Champs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href="https://cdn.jsdelivr.net/picnicss/5.1.0/picnic.min.css">
        <link rel='stylesheet' href="https://cdn.jsdelivr.net/picnicss/5.1.0/plugins.min.css">
        <link rel="icon" type="image/png" href="http://res.cloudinary.com/kunagpal/main.jpg">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-60481560-1', 'auto');ga('send', 'pageview');
        </script>
        <style>
            .inv {color: #7F8C8D;}
            footer {margin: 0;}
            body {color: #34495E;}
            nav {background: #2C2C2C;}
            a {background: transparent;}
            #rules {background: #3498DB; color: whitesmoke;}
            #about {background: #E67E22; color: whitesmoke;}
            #privacy {background: #1ABC9C; color: #261A3B;}
            .panel {
                width: 100%;
                height: 100%;
                position: relative;
                text-align: center;
                background: #ECF0F1;
            }
            .container {
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body>
        <nav class="demo">
            <a class="brand" href="#">
                <img class="logo" src="http://res.cloudinary.com/kunagpal/main.jpg" />
                <span class="inv">Sudoku Champs</span>
            </a>
            <input id="res" type="checkbox" class="show">
            <label for="res" class="burger pseudo button">
                <span class="inv">&#9776</span>
            </label>
            <div class="menu">
                <a href="#about" class="pseudo button">
                    <span class="inv">About</span>
                </a>
                <a href="#rules" class="pseudo button">
                    <span class="inv">Rules</span>
                </a>
                <a href="#privacy" class="pseudo button">
                    <span class="inv">Privacy</span>
                </a>
                <a href="#" class="pseudo button">
                    <span class="inv">Login</span>
                </a>
                <a href="#" class="pseudo button">
                    <span class="inv">Register</span>
                </a>
            </div>
        </nav>
        <div class="panel" id="#">
            <div class="container">
                <h2>Where the good compete to become the best of the rest.</h2>
                <img src="http://res.cloudinary.com/kunagpal/main.jpg" id="main" />
            </div>
        </div>
        <div class="panel" id="about">
            <div class="container">
                About
            </div>
        </div>
        <div class="panel" id="rules">
            <div class="container">
                Rules
            </div>
        </div>
        <div class="panel" id="privacy">
            <div class="container">
                Privacy
            </div>
        </div>
    </body>
</html>