<!DOCTYPE html>
<html class="center">
    <head>
        <meta charset="utf-8"/>
        <title>Sudoku Champs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="http://res.cloudinary.com/kunagpal/main.jpg">
        <link type="text/css" rel='stylesheet' href="https://cdn.jsdelivr.net/picnicss/5.1.0/plugins.min.css">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create','UA-60481560-1','auto');ga('send','pageview');
        </script>
        <style>
            span{color:#7F8C8D;}body{color:#34495E;}nav{background:#2C2C2C;}#rules{background:#3498DB;color:whitesmoke;}
            form>label{width:38%;text-align:center;}.panel{width:100%;height:100%;padding:0 10%;display:flex;align-items:center;
            justify-content:center;background:#ECF0F1;flex-direction:column;}#about{background:#E67E22;color:whitesmoke;}
            input[type='submit'],form>a{left:50%;position:relative;transform:translateX(-50%);}form>input{width:60%;margin:1%auto;}
            label{display:inline-block;}#privacy{background:#1ABC9C;color:#261A3B;}.mid{text-align:center;padding-top:0;}
            .half{width:49%!important;}a>label{width:100%;}article{padding:1%!important;}
        </style>
    </head>
    <body>
        <nav>
            <a class="brand" href="#">
                <img class="logo" src="http://res.cloudinary.com/kunagpal/main.jpg">
                <span>Sudoku Champs</span>
            </a>
            <input id="res" type="checkbox" class="show">
            <label for="res" class="burger pseudo button"><span>|||||</span></label>
            <div class="menu">
                <a href="#about" class="pseudo button"><span>About</span></a>
                <a href="#rules" class="pseudo button"><span>Rules</span></a>
                <a href="#privacy" class="pseudo button"><span>Privacy</span></a>
                <a class="pseudo button"><label for="modal"><span>Sign In / Up</span></label></a>
            </div>
        </nav>
        <div class="modal">
            <input id="modal" type="checkbox"/>
            <label for="modal" class="overlay"></label>
            <article class="content">
                <div class="tabs two">
                    <input id='tab-1' type='radio' name='tabgroupB' checked>
                    <label class="pseudo button toggle half" for="tab-1">Sign In</label>
                    <input id='tab-2' type='radio' name='tabgroupB'>
                    <label class="pseudo button toggle half" for="tab-2">Sign up</label>
                    <div class="row">
                        <form method="post" action="/login">
                            <input type="hidden" name="_csrf" value="<%= token %>">
                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" autocomplete="on" placeholder="foo@bar.com" required>
                            <label for="pass">Password</label>
                            <input id="pass" type="password" name="password" placeholder="********" required>
                            <input type="submit" value="Submit"><br>
                            <a href="/forgot" class="pseudo button">Forgot password ?</a>
                        </form>
                        <form method="post" action="/register">
                            <input type="hidden" name="_csrf" value="<%= token %>">
                            <label for="emailId">Email</label>
                            <input id="emailId" name="email" type="email" placeholder="foo@bar.com" required>
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password" placeholder="********" required>
                            <label for="confirm">Confirm password</label>
                            <input id="confirm" type="password" name="confirm" placeholder="********" required>
                            <input id="submit" type="submit" value="Submit">
                        </form>
                    </div>
                </div>
                <div class="mid">
                    <p>Or, sign up with one of your social accounts</p>
                    <a href="/auth/fb"><img src="https://res.cloudinary.com/kunagpal/fb.jpg"></a>
                    <a href="/auth/go"><img src="https://res.cloudinary.com/kunagpal/go.jpg"></a>
                </div>
            </article>
        </div>
        <div class="panel" id="#">
            <h1>Where the good compete to become the best of the rest.</h1>
            <img src="http://res.cloudinary.com/kunagpal/main.jpg" id="main">
        </div>
        <div class="panel" id="about">
            <h1>About</h1>
            Sudoku Champs is an online platform for competitive Sudoku gameplay.
        </div>
        <div class="panel" id="rules">
            <h1>Rules</h1>
            <h2>Some games are meant to be played without rules. This is not one of them.</h2>
            <ol>
                <li>The game ends when:
                    <ol>
                        <li>The player / opponent completes the puzzle.</li>
                        <li>The player concedes the game.</li>
                    </ol>
                </li>
                <li>For head to head games, the score depends on the time taken to solve the grid, and the number of
                    unsolved cells.
                </li>
                <li>Ranking depends on:
                    <ol>
                        <li>Points: Win: 2, Loss: 0, Tie: 1.</li>
                        <li>Matches won.</li>
                        <li>Matches played.</li>
                        <li>Number of forfeits, if any.</li>
                        <li>Reputation.</li>
                    </ol>
                </li>
                <li>Practice mode results do not affect user ranking.</li>
                <li>Leaving any match midway results in an instant loss.</li>
            </ol>
        </div>
        <div class="panel" id="privacy">
            <h1>Privacy</h1>
            <p>Normally, we would rant on and on about how your privacy and rights are of utmost importance to us, and
               also a little bit on how we take several undisclosed steps towards maintaining that position. However,
               we also realize that in this day and age, our smart users have better things to do and more challenging
               Sudoku to solve, so we'll cut to the chase: We don't distribute user contact details. We never did, and
               we never will. Your contact details are only used to keep you in the game, and out of the hands of
               spammers. We hate spam as much as all of you do, possibly more. <br><br>
               Now that all the nonsense is done away with, let's move on to the <a href="/play" class="link">game</a>.
            </p>
        </div>
    </body>
    <script>
        var req = new XMLHttpRequest();
        var email = document.getElementById('emailId');
        var button = document.getElementById('submit');
        var ref={'1':{col:'green'},'0':{col:'red',txt:'This email address is already taken.'}};
        email.addEventListener('blur',function(){
            if(this.value)
            {
                req.open('get','/register/'+this.value,true);
                req.addEventListener('load',function(){
                    button.disabled=ref[req.response].txt || 0;
                    email.style.borderColor=ref[req.response].col;
                    email.title=ref[req.response].txt || email.title;
                },false);
                req.send();
            }
        }, false);
    </script>
</html>
