<!DOCTYPE html>
<html class="center">
  <head>
    <title>Home | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/rules">Rules</a></li>
      </ul>
    </nav>
    <h1>Sudoku Champs</h1> <br />
    <img src="/images/main.jpg" />
    <h3>Because you just have to solve them all.</h3>
    <a href="/register">Get Started</a>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
