<!DOCTYPE html>
<html class="center">
  <head>
    <title>Home | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
    <nav>
      <ul>
          <li>
              <a id="inv">HOME</a>
          </li>
          <li>
              <a href="/login">LOGIN</a>
          </li>
          <li>
              <a href="/play">PLAY</a>
          </li>
          <li>
              <a href="/register">REGISTER</a>
          </li>
          <li>
              <a href="/rules">RULES</a>
          </li>
          <li>
              <a href="/leader">LEADERBOARD</a>
          </li>
      </ul>
    </nav>
    <h1>Sudoku Champs</h1>
    <h2>Where the good compete to become the best of the rest.</h2>
    <img src="/images/main.jpg" />
    <h3>Because you just have to solve them all.</h3>
    <a href="/register">Get Started</a>
  </body>
  <footer>
      <nav>
          <ul>
              <li>
                  <a href="/logout">I wish to leave</a>
              </li>
              <li>
                  <a href="/privacy">Privacy</a>
              </li>
              <li>
                  <a href="/contact">Get in touch</a>
              </li>
              <li>
                  <a href="/developers">Developers</a>
              </li>
          </ul>
      </nav>
  </footer>
</html>
