<!DOCTYPE html>
<html class="center">
  <head>
    <title>Leaderboard | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/play">Play</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/rules">Rules</a>
                </li>
                <li>
                    <a href="/leader">Leaderboard</a>
                </li>
            </ul>
        </nav>
        <h1>Leaderboard</h1>
        <h2>Where the Goliaths stand, with the Davids not so far behind...</h2>
        <table>
             <tr>
                <th>Rank</th>
                <th>Legend</th>
                <th>Score</th>
             </tr>
             <tr>
                <td></td>
                <td></td>
                <td></td>
             </tr>
        </table>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
