<!DOCTYPE html>
<html class="center">
  <head>
    <title>Leaderboard | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/login">LOGIN</a>
                </li>
                <li>
                    <a href="/play">PLAY</a>
                </li>
                <li>
                    <a href="/register">REGISTER</a>
                </li>
                <li>
                    <a href="/rules">RULES</a>
                </li>
                <li>
                    <a id="inv">LEADERBOARD</a>
                </li>
            </ul>
        </nav>
        <h1>Where Goliaths stand, with the Davids not so far behind...</h1>
        <table>
             <tr>
                <th>Rank</th>
                <th>Legend</th>
                <th>Score</th>
             </tr>
             <tr>
                <td></td>
                <td></td>
                <td></td>
             </tr>
        </table>
  </body>
  <footer>
      <a href="/logout" id="logout">I wish to leave</a>
      <a href="/developers" id="dev">Devlopers</a>
  </footer>
</html>
