<!DOCTYPE html>
<html class="center">
  <head>
    <title>Leaderboard | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
      <h1 class="center">Leaderboard</h1>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/rules">Rules</a></li>
              <% %>
          </ul>
      </nav>
      <a href="/forgot">I need help with my password</a>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
