<!DOCTYPE html>
<html>
  <head>
    <title>Login | Sudoku Champs</title>
    <link rel='stylesheet' href='../public/styles/style.css' />
  </head>
  <body>
  <form method="POST">
    Name<input type="text" id="name"/> <br />
    Password<input type="password" id="pass" /> <br />
    <input type="submit" value="Submit"/>
  </form>
  </body>
</html>
