<!DOCTYPE html>
<html class="center">
  <head>
    <title>Play | Sudoku Champs</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
      <nav>
          <ul>
              <li><a href="/">HOME</a></li>
              <li><a id="inv">PLAY</a></li>
              <li><a href="/rules">RULES</a></li>
              <li><a href="/leader">LEADERBOARD</a></li>
          </ul>
      </nav>
      <br><br>
      <h1>Let the games begin !</h1>
      <h2>May the numbers be with you, in more ways than one. <br /> But first, select a game mode...</h2>
      <a href="/practice" id="one">PRACTICE</a>
      <a href="/challenge" id="two">CHALLENGE</a>
      <a href="/solo" id="three">SOLO</a>
      <a href="/h2h" id="four">HEAD TO HEAD</a>
  </body>
  <footer>
      <nav>
          <ul>
              <li><a href="/logout">I wish to leave</a></li>
              <li><a href="/privacy">Privacy</a></li>
              <li><a href="/forum">Forum</a></li>
              <li><a href="/developers">Developers</a></li>
          </ul>
      </nav>
  </footer>
</html>