<!DOCTYPE html>
<html class="center">
  <head>
    <title>Privacy | Sudoku Champs</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css"/>
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/play">PLAY</a></li>
            <li><a href="/rules">RULES</a></li>
            <li><a href="/leader">LEADERBOARD</a></li>
        </ul>
    </nav>
    <h1>Privacy</h1>
    <p id="contain">
        Normally, we would rant on and on about how your privacy and rights are of utmost importance to us, and also a
        little bit on how we take several undisclosed steps towards maintaining that position. <br/><br/>However, we also
        realize that in this day and age, our smart users have better things to do and more challenging Sudoku to solve,
        so we'll cut to the chase:<br/><br/>
        We don't distribute user contact details. We never did, and we never will. <br/><br/>Your contact details are only
        used to keep you in the game, and out of the hands of spammers. We hate spam as much as all of you do, possibly
        more.<br/><br />
        Now that all the nonsense is done away with, let's move on to the <a href="/play" class="link">game</a>.
    </p>
  </body>
<footer>
    <nav>
        <ul>
            <li><a href="/logout">I wish to leave</a></li>
            <li><a id="inv">Privacy</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/developers">Developers</a></li>
        </ul>
    </nav>
</footer>
</html>