<!DOCTYPE html>
<html class="center">
  <head>
    <title>Register | Sudoku Champs</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
      <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/play">PLAY</a></li>
            <li><a href="/rules">RULES</a></li>
            <li><a href="/leader">LEADERBOARD</a></li>
        </ul>
      </nav>
      <%= msg ? msg : ''%>
      <h1>Let's get started</h1>
      <h2>Registration is completely free and takes only a minute. <br />(Depending on your internet connection, of course)<br /> Already registered ? Login <a href="/login" class="link">here</a></h2>
      <form method="POST" action="/register">
                <input type="hidden" name="_csrf" value=<%= token %>>
                <input type="text" name="name" placeholder="User" autofocus="true" required/> <br /><br />
                <input type="email" name="email" placeholder="Email" required/> <br /><br />
                <input type="password" name="password" placeholder="Password" required/> <br /><br />
                <input type="password" name="confirm" placeholder="Confirm" required/> <br /><br />
                <input type="submit" id="begin" value="I am ready"/>
      </form>
  </body>
  <footer>
      <nav>
          <ul>
              <li><a href="/logout">I wish to leave</a></li>
              <li><a href="/privacy">Privacy</a></li>
              <li><a href="/forum">Forum</a></li>
              <li><a href="/developers">Developers</a></li>
          </ul>
      </nav>
  </footer>
</html>
