<!DOCTYPE html>
<html>
  <head>
    <title>Register | Sudoku Champs</title>
    <link rel='stylesheet' href='../public/styles/style.css' />
  </head>
  <body>
    <form method="POST">
      Name<input type="text" id="name"/> <br />
      Email Address<input type="email" id="email" /> <br />
      Phone<input type="number" id="phone" /> <br />
      Password<input type="password" id="pass" /> <br />
      Confirm password<input type="password" id="confirm" /> <br />
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
