<!DOCTYPE html>
<html class="center">
  <head>
    <title>Register | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
      <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/play">Play</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
            <li>
                <a href="/rules">Rules</a>
            </li>
            <li>
                <a href="/leader">Leaderboard</a>
            </li>
        </ul>
      </nav>
      <h1>Let's get this started</h1>
      <h2>Registration is completely free and takes only a minute. <br />(Depending on your internet connection of course)<br /> Already registered ? Login <a href="/login">here</a></h2>
      <form method="POST" action="/register">
          <table>
            <tr>
                <td>Name</td>
                <td><input type="text" id="name" placeholder="User"/></td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td><input type="email" id="email" placeholder="Email"/></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="number" id="phone" placeholder="Phone"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" id="pass" placeholder="Password"/></td>
            </tr>
            <tr>
                <td>Confirm password</td>
                <td><input type="password" id="confirm" placeholder="Confirm"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="I am ready."/>
                </td>
            </tr>
          </table>
      </form>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
