<!DOCTYPE html>
<html>
  <head>
    <title>Rules | Sudoku Champs</title>
    <link rel='stylesheet' href='../public/styles/style.css' />
  </head>
  <body>
    <ol>
      <li>All the rules mentioned herein are subject to change without any prior notice at all. By signing up for Sudoku
        Champs, you agree to follow all the regulations.</li>
      <li></li>
    </ol>
  </body>
</html>
