<!DOCTYPE html>
<html>
  <head>
    <title>Rules | Sudoku Champs</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/rules">Rules</a></li>
          </ul>
      </nav>
      <h1>Rules</h1>
      <ol>
            <li>All the rules mentioned herein are subject to change without any prior notice at all. By signing up for Sudoku
            Champs, you agree to follow all the regulations.</li>
            <li></li>
      </ol>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
