<!--
*  Sudoku Champs <sudokuchampster@gmail.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
  <head>
    <title>Rules | Sudoku Champs</title>
    <link rel="icon" type="image/png" href="/images/main.jpg">
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/style.min.css" type="text/css" />
  </head>
  <body>
      {{{head}}}
      <h1 class="center">Some games are meant to be played without rules. This is not one of them.</h1>
      <ol id="contain">
            <li>
                All the rules mentioned herein are subject to change without any prior notice at all. By signing up for
                Sudoku Champs, you agree to follow all the regulations below.
            </li>
            <li>
                In the event of any disputes, the manager's decision shall hold.
            </li>
            <li>
                In order to complete a game of Sudoku, you, the participant must fill in a pre-supplied 9 X 9 grid such
                such that each row, column and regular 3 X 3 sub-grid within the original grid contains each of the
                numbers one through nine, but exactly once, as shown <a href="/solved" class="link">here</a>.
            </li>
            <li>
                The initial provided grid will have some numbers filled in, which will guide you along the way.
            </li>
            <li>
                The game is declared to be concluded when any one of the following conditions hold true:
                <ol>
                    <li> One of the two opponents (in case of a head to head match) successfully completes an unsolved
                         puzzle.
                    </li>
                    <li> The player concedes the game by opting to declare. </li>
                </ol>
            </li>
            <li>
                In case of a head to head competition between two players, the players will be provided with a computed
                score at the end of the game which depends on:
                <ol>
                    <li>The time taken to solve the grid. A higher score is awarded for lower times.</li>
                    <li>The number of unsolved cells. Fewer unsolved cells result in higher scores.</li>
                </ol>
            </li>
            <li>
                At any given point of time, all players involved in the game will be subjected to the process of ranking
                (game category wise), with ascension priority being attributed to the following factors:
                <ol>
                    <li>
                        Points earned: Each victory (in case of a head to head match) earns the victor two points, a loss
                        earns the player zero points, and a tie / victory by opponent forfeit results in one point.
                    </li>
                    <li> Matches won. </li>
                    <li> Matches played. </li>
                    <li> Number of forfeits, if any.</li>
                    <li>
                         Reputation. This is a calculated index dynamically assigned to each user after every match,
                         completed or otherwise.
                    </li>
                </ol>
            </li>
            <li>
                In challenge modes, players will be required to complete specified tasks, such as solve a certain number
                of cells within a certain time limit. Successful completion of each challenge results in an increase in
                reputation, whereas failure to complete / forfeit will result in reputation loss. The exact magnitude of
                reputation change depends on the difficulty of the challenge, and the extent of completion.
            </li>
            <li>
                Players may also fine-tune their skills by partaking in a variety of practice modes, whose results have
                absolutely no bearing on user ranking metrics whatsoever.
            </li>
            <li>
                Leaving any match midway results in an instant loss.
            </li>
      </ol>
  </body>
  {{{foot}}}
</html>