<!DOCTYPE html>
<html>
  <head>
    <title>Rules | Sudoku Champs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
      <nav class="center">
          <ul>
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                  <a href="/login">Login</a>
              </li>
              <li>
                  <a href="/play">Play</a>
              </li>
              <li>
                  <a href="/register">Register</a>
              </li>
              <li>
                  <a href="/rules">Rules</a>
              </li>
              <li>
                  <a href="/leader">Leaderboard</a>
              </li>
          </ul>
      </nav>
      <h1 class="center">Rules</h1>
      <h2 class="center">Some games are meant to be played without rules. This is not one of them.</h2>
      <ol>
            <li>
                All the rules mentioned herein are subject to change without any prior notice at all. By signing up for
                Sudoku Champs, you agree to follow all the regulations below.
            </li>
            <li>
                In the event of any disputes, the manager's decision shall hold.
            </li>
            <li>
                In order to complete a game of Sudoku, you, the participant must fill in a pre-supplied 9 X 9 grid such
                such that each row, column and regular 3 X 3 sub-grid within the original grid contains each of the
                numbers 1 through 9, but exactly once, as shown <a href="/solved">here</a>.
            </li>
            <li>
                The initial provided grid will have some numbers filled in, which will guide you along the way.
            </li>
            <li>
                The game is declared to be concluded when any one of the following conditions hold true:
                <ol>
                    <li> One of the two opponents (in case of a head to head match) successfully completes an unsolved puzzle. </li>
                    <li> The player concedes the game by opting to declare. </li>
                </ol>
            </li>
            <li>
                In case of a head to head competition between two players, the players will be provided with a computed
                score at the end of the game which depends on:
                <ol>
                    <li>The time taken to solve the grid. A higher score is awarded for lower times.</li>
                    <li>The number of unsolved cells. Fewer unsolved cells result in higher scores.</li>
                </ol>
            </li>
            <li>

            </li>
      </ol>
  </body>
  <footer>
      <a href="/developers">Devlopers</a>
  </footer>
</html>
