td:nth-child(3n) {
    border-right: 3px solid black;
}

tr:nth-child(3n) {
    border-bottom: 3px solid black;
}

.hidden {
    display: none;
}

table {
    left: 50%;
    border: 4px solid;
    position: relative;
    transform: translateX(-50%);
}

div.row {
    margin: 0;
    width: 100%;
    padding: 1%;
}

td {
    padding: 0;
    width: 10vh;
    height: 10vh;
    border: 1px solid black;
}

input {
    border: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-size: xx-large;
}

#clock {
    left: 20%;
    width: 60%;
    margin-top: 10%;
    border-radius: 4px;
    text-align: center;
    position: relative;
    background: #2C3E50;
}

#clock > h1 {
    padding: 0;
    margin: 0 1px;
    color: #BDC3C7;
    font-size: xx-large;
    font-weight: lighter;
    display: inline-block;
}

#quit {
    background: #C0392B;
}

#new {
    background: #27AE60;
}