span {
    color: #7F8C8D;
}

body {
    color: #34495E;
}

nav {
    background: #2C2C2C;
}

#rules {
    background: #3498DB;
    color: whitesmoke;
}

form > label {
    width: 38%;
    text-align: center;
}

.panel {
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
    background: #ECF0F1;
    flex-direction: column;
    justify-content: center;
}

#about {
    color: whitesmoke;
    background: #E67E22;
}

input[type='submit'], form > a {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

form > input {
    width: 60%;
    margin: 1% auto;
}

label {
    display: inline-block;
}

#privacy {
    color: #261A3B;
    background: #1ABC9C;
}

.mid {
    padding-top: 0;
    text-align: center;
}

.half {
    width: 49% !important;
}

a > label {
    width: 100%;
}

article {
    padding: 1% !important;
}