body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}

input {
    margin: 2%;
    display: inline-block;
}

form {
    text-align: center;
}