html {
    padding: 0;
    margin : 0;
}
body {
  top : 0;
  margin : 0;
  padding : 0;
  clear : both;
  font : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav{
    margin : 0;
    padding : 0;
}
ul {
    list-style-type: none;
}
#logout {
    left : 5%;
    bottom : 5%;
    position : fixed;
}
#dev {
    right : 5%;
    bottom : 5%;
    position : fixed;
}
nav ul li a {
    width : 100%;
    color : #FFFFFF;
    display : block;
    line-height : 40px;
    background-color: #000000;
}
footer nav ul li a {
    line-height : 30px;
}
nav a:hover {
    color : #000000;
    background-color : #8f8f8f;
}
nav ul{
    margin : 0;
    padding : 0;
    width : 100%;
}
nav ul li{
    float : left;
    text-align : center;
    width : 16.6666666666667%;
}
footer nav ul li{
    text-align : center;
    width : 25%;
}
.center {
    alignment: center;
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
}
a{
    text-decoration: none;
}
tr {
    width : 10%;
    height : 20px;
}
h1 {
    margin: 0;
    padding-top: 3.5%;
}
h2 {
    margin-top: 0;
    padding-top: 2%;
}
table{
    margin : 2.5% 40% 0;
    table-layout : fixed;
}
table th {
    width : 20%;
}
td {
    margin : 0 50%;
}
#reg{
    color : #FFFFFF;
    background-color : #000000;
}
#inv {
    color : #000000;
    background-color : #FFFFFF;
}
#solved {
    padding-top : 5%;
    margin-bottom : 2.5%;
}
#contain {
    text-align : left;
    margin : 5% 15% 0 10%;
}
ol li{
    margin : 1%;
}
footer {
    bottom : 0;
    margin : 0;
    padding : 0;
    width : 100%;
    position: absolute;
}
.left{
    left : 30%;
    float : left;
    position : absolute;
}
.right{
    right : 30%;
    float : right;
    position : absolute;
}
#one{
    top : 30%;
    left : 35%;
    width : 10%;
    float : left;
    padding : 2%;
    color : #FFFFFF;
    position : absolute;
    background-color : #000000;
}
#two{
    top : 30%;
    width : 10%;
    right : 35%;
    padding : 2%;
    float : right;
    color : #FFFFFF;
    position : absolute;
    background-color : #000000;
}
#three{
    top : 50%;
    left : 35%;
    width : 10%;
    padding : 2%;
    color : #FFFFFF;
    position : absolute;
    background-color : #000000;
}
#four{
    top : 50%;
    width : 10%;
    right : 35%;
    padding : 2%;
    float : right;
    color : #FFFFFF;
    position : absolute;
    background-color : #000000;
}

#one:hover, #two:hover, #three:hover, #four:hover, #start:hover, #end:hover{
    color : #000000;
    background-color : #8f8f8f;
}
#start {
    top : 27%;
    left : 5%;
    width : 10%;
    padding : 2%;
    float : left;
    color : #FFFFFF;
    position : absolute;
    background-color : #000000;
}
#end {
    top : 40%;
    left : 5%;
    width : 10%;
    padding : 2%;
    float : left;
    color : #FFFFFF;
    position : absolute;
    background-color : #000000;
}
div {
    float : left;
}
#foot{

}
.lead:nth-child(2n + 2) {
    background-color : #8f8f8f;
    color : #000000;
}
.lead:nth-child(2n + 3) {
    background-color : #000000;
    color : #FFFFFF;
}