html {
    padding: 0;
    margin : 0;
    height : 100%;
    background : #FFFFFF;
}
body {
  top : 0;
  margin : 0;
  padding : 0;
  clear : both;
  height : 100%;
  font : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav{
    margin : 0;
    padding : 0;
}
nav ul li a {
    -webkit-transition : color 0.5s ease-out, background 0.5s ease-out;
    -ms-transition : color 0.5s ease-out, background 0.5s ease-out;
    -moz-transition : color 0.5s ease-out, background 0.5s ease-out;
    transition : color 0.5s ease-out, background 0.5s ease-out;
    width : 100%;
    color : #FFFFFF;
    display : block;
    line-height : 250%;
    background: #000000;
}
footer nav ul li a {
    line-height : 188%;
}
nav a:hover {
    color : #000000;
    background : #8f8f8f;
}
nav ul{
    margin : 0;
    padding : 0;
    width : 100%;
}
nav ul li{
    float : left;
    text-align : center;
    width : 25%;
}
.center {
    alignment: center;
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
}
a{
    text-decoration: none;
}
tr {
    width : 20%;
    height : 2%;
}
h1 {
    margin: 0;
    padding-top: 3.5%;
}
h2 {
    margin-top: 0;
    padding-top: 2%;
}
#lead{
    margin : 2.5% 40% 0;
    border-collapse: collapse;
}
#lead th {
    width : 20%;
    border-bottom: 1px solid black;
}
#reg{
    color : #FFFFFF;
    background : #000000;
}
#inv, #inv td{
    color : #000000;
    background : #FFFFFF;
}
#solved {
    padding-top : 5%;
    margin-bottom : 2.5%;
}
#contain {
    text-align : left;
    margin : 5% 15% 0 10%;
}
#contain li{
    margin : 0.75%;
}
footer {
    bottom : 0;
    margin : 100% 0 0 0;
    padding : 0;
    width : 100%;
    position: absolute;
}
.left{
    right : 55%;
    float : left;
    width : 13.8%;
    height : auto;
    padding : 1% 0;
    color : #FFFFFF;
    position : absolute;
    background : #000000;
}
.right{
    left : 55%;
    float : right;
    width : 13.8%;
    height : auto;
    padding : 1% 0;
    color : #FFFFFF;
    position : absolute;
    background : #000000;
}
.left img, .right img {
    width : 100%;
    height : auto;
}
#one{
    top : 30%;
    left : 35%;
    width : 10%;
    float : left;
    padding : 2%;
    color : #FFFFFF;
    position : absolute;
    background : #000000;
    -webkit-transition : color 0.5s ease-out, background 0.5s ease-out;
    -ms-transition : color 0.5s ease-out, background 0.5s ease-out;
    -moz-transition : color 0.5s ease-out, background 0.5s ease-out;
    transition : color 0.5s ease-out, background 0.5s ease-out;
}
#two{
    top : 30%;
    width : 10%;
    right : 35%;
    padding : 2%;
    float : right;
    color : #FFFFFF;
    position : absolute;
    background : #000000;
    -webkit-transition : color 0.5s ease-out, background 0.5s ease-out;
    -ms-transition : color 0.5s ease-out, background 0.5s ease-out;
    -moz-transition : color 0.5s ease-out, background 0.5s ease-out;
    transition : color 0.5s ease-out, background 0.5s ease-out;
}
#three{
    top : 50%;
    left : 35%;
    width : 10%;
    padding : 2%;
    color : #FFFFFF;
    position : absolute;
    background : #000000;
    -webkit-transition : color 0.5s ease-out, background 0.5s ease-out;
    -ms-transition : color 0.5s ease-out, background 0.5s ease-out;
    -moz-transition : color 0.5s ease-out, background 0.5s ease-out;
    transition : color 0.5s ease-out, background 0.5s ease-out;
}
#four{
    top : 50%;
    width : 10%;
    right : 35%;
    padding : 2%;
    float : right;
    color : #FFFFFF;
    position : absolute;
    background : #000000;
    -webkit-transition : color 0.5s ease-out, background 0.5s ease-out;
    -ms-transition : color 0.5s ease-out, background 0.5s ease-out;
    -moz-transition : color 0.5s ease-out, background 0.5s ease-out;
    transition : color 0.5s ease-out, background 0.5s ease-out;
}

#one:hover, #two:hover, #three:hover, #four:hover, #start:hover, #hide:hover, #quit:hover{
    color : #000000;
    background : #8f8f8f;
}
#start, #quit{
    top : 30%;
    left : 5%;
    width : 10%;
    padding : 2%;
    float : left;
    color : #FFFFFF;
    position : absolute;
    background : #000000;
    -webkit-transition : color 0.5s ease-out, background 0.5s ease-out;
    -ms-transition : color 0.5s ease-out, background 0.5s ease-out;
    -moz-transition : color 0.5s ease-out, background 0.5s ease-out;
    transition : color 0.5s ease-out, background 0.5s ease-out;
}
#hide {
    top : 45%;
    left : 5%;
    width : 10%;
    padding : 2%;
    float : left;
    color : #FFFFFF;
    position : absolute;
    background : #000000;
    -webkit-transition : color 0.5s ease-out, background 0.5s ease-out;
    -ms-transition : color 0.5s ease-out, background 0.5s ease-out;
    -moz-transition : color 0.5s ease-out, background 0.5s ease-out;
    transition : color 0.5s ease-out, background 0.5s ease-out;
}
#lead tr:nth-child(2n + 2) {
    background : #dddddd;
}
#clock{
    width : 90%;
    margin : 0 0 2em 2em;
}
#begin{
    width : 10%;
    border : none;
    outline : none;
    padding : 1% 2%;
    color : #FFFFFF;
    margin-top : 5px;
    background : #000000;
    -webkit-transition : color 0.5s ease-out, background 0.5s ease-out;
    -ms-transition : color 0.5s ease-out, background 0.5s ease-out;
    -moz-transition : color 0.5s ease-out, background 0.5s ease-out;
    transition : color 0.5s ease-out, background 0.5s ease-out;
}
#begin:hover {
    color : #000000;
    background : #8f8f8f;
}
#stats{
    float : right;
    position : absolute;
    top : 25%;
    right : 5%;
    text-align : left;
}
img {
    -webkit-filter : grayscale(1);
    -moz-filter : grayscale(1);
    -ms-filter : grayscale(1);
    filter : grayscale(1);
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin : 0;
    padding : 0;
    border : 0;
}
img:hover {
    -webkit-filter : grayscale(0);
    -moz-filter : grayscale(0);
    -ms-filter : grayscale(0);
    filter : grayscale(0);
}
.link {
    color : #8f8f8f;
}
#drop {
    left : 35%;
    right : 35%;
    top : 70%;
    clear : both;
    position : absolute;
}
::-webkit-input-placeholder {
    text-align : center;
}
:-moz-placeholder {
    opacity:  1;
    text-align : center;
}
::-moz-placeholder {
    opacity:  1;
    text-align : center;
}
:-ms-input-placeholder {
    text-align : center;
}
::selection {
    background: #000000;
    color : #FFFFFF;
}
::-moz-selection {
    background: #000000;
    color : #FFFFFF;
}
input {
    outline-color: #000000;
}
ul {
    list-style : none;
}
#main{
    width : auto;
    height : 40%;
}
.err {
    height : 15%;
    width : 10%;
}